<div class="container mt-4">
  <h1>Category: <%= @category.name %></h1>
  <hr>

  <h2>Products in this category:</h2>
  <% if @products.any? %>
    <div class="row justify-content-center">
      <% @products.each do |product| %>
        <%= render 'products/product_card', product: product %>
      <% end %>
    </div>
  <% else %>
    <p>No products found in this category.</p>
  <% end %>

  <hr>
  <%= link_to "Back to All Products", products_path, class: "btn btn-secondary" %>
</div>
