<div class="container mt-4">
  <h1>Products</h1>

  <%# Search Form %>
  <div class="mb-4">
    <%= form_with url: products_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query, params[:query], class: "form-control me-2", placeholder: "Search products by name..." %>
      <%= submit_tag "Search", class: "btn btn-outline-success" %>
    <% end %>
  </div>

  <div class="row justify-content-center">
    <% if @products.any? %>
      <% @products.each do |product| %>
        <%= render 'products/product_card', product: product %>
      <% end %>
    <% else %>
      <div class="col-12">
        <p class="text-center">No products found matching your search criteria.</p>
      </div>
    <% end %>
  </div>
</div>
